.card {
  position: absolute;

  width: 100px;
  height: 150px;

  border-radius: 10px;

  z-index: -1;

  transform-style: preserve-3d;
  transform-origin: center;

  /*transform: rotateY(180deg);*/

  transform: translateX(15px) translateY(40px);

  transition: transform 1s;
}

.back, .front, .overlay {
  position: absolute;

  width: 100%;
  height: 100%;

  backface-visibility: hidden;

  border-radius: 10px;

  border-style: solid;
  border-color: black;
  border-width: 3px;
}

.back {
  background: repeating-linear-gradient(45deg, red, red 10px, green 10px, green 20px);
}

.front {
  display: flex;
  flex-direction: column;
  /*align-items: center;*/
  justify-content: space-around;

  /*background: repeating-linear-gradient(45deg, yellow, yellow 10px, blue 10px, blue 20px);*/
  background: white;
}

.front, .overlay {
  transform: rotateY(180deg);
}

.overlay {
  transition: all 150ms;
}

.selected .overlay {
  box-shadow: rgba(0, 255, 255, 0.8) 0px 0px 10px 3px;
  background: rgba(0, 255, 255, 0.2);
}

.symbolContainer {
  width: 100%;
  height: 33.3%
}

.symbolOutline, .symbol {
  position: absolute;

  width: 100%;
  height: 33.3%;

  -webkit-mask-position: 50%;
  -webkit-mask-repeat: no-repeat;
}

.symbolOutline {
  -webkit-mask-size: 100%;
}

.symbol {
  -webkit-mask-size: 100%;
}
