html, body {
  margin: 0px;
  padding: 0px;

  width: 100%;
  height: 100%;

  perspective: 1000px;
  perspective-origin: 210px 265px;
}

body {
  transform-origin: top left;

  overflow: hidden;

  -webkit-user-select: none;

  transition: background 1s, filter 1s, -webkit-filter 1s;
}

body.nightMode {
  background: black;
  filter: invert(100%);
  -webkit-filter: invert(100%);
}

#menuButton, #startButton {
  position: absolute;

  width: 120px;
  height: 40px;

  z-index: -1;
}

#menuButton {
  transform: translateX(10px) translateY(10px);
}

#startButton {
  transform: translateX(150px) translateY(10px);
}

#gameContainer {
  transform: translateY(50px);

  perspective: 1000px;
  perspective-origin: 210px 265px;
}

#deck {
  position: absolute;

  width: 110px;
  height: 160px;

  border-style: dotted;
  border-color: black;
  border-width: 3px;

  transform: translateX(10px) translateY(30px);
}

#deckCounter {
  position: absolute;

  width: 150px;

  transform: translateX(10px) translateY(10px);
}

#timer {
  position: absolute;

  width: 120px;

  text-align: center;

  font-family: "Century Gothic";

  transform: translateX(150px) translateY(10px);
}

#time {
  font-size: 25px;
}

#spm {
  margin-top: 10px;
  font-size: 17px;
}

#stashCounter {
  position: absolute;

  width: 150px;

  transform: translateX(10px) translateY(250px);
}
