#menuTitle {
  position: absolute;

  font-family: "Century Gothic";
  font-size: 150px;

  transform: translateX(10px) translateY(-20px);
}

#version {
  font-size: 20px;
  vertical-align: baseline;
}

#newGameButton {
  position: absolute;

  width: 215px;
  height: 50px;

  transform: translateX(10px) translateY(150px);
}

#leaderboardTable {
  position: absolute;

  transform: translateX(10px) translateY(215px);

  border-collapse: collapse;
}

#leaderboardTable {
  width: 215px;
}

#leaderboardTable td {
  width: 50%;
  padding: 5px;

  border: solid black 1px;
}

#leaderboardTable td:nth-child(1) {
  text-align: right;
}
