#menuView {
  perspective: 1000px;
  perspective-origin: 500px 15px;
}

#menuTitle {
  position: absolute;

  font-size: 150px;

  transform: translateX(10px) translateY(-20px);
}

#about {
  position: absolute;

  width: 250px;
  display: flex;
  justify-content: space-between;

  font-size: 15px;

  transform: translateX(20px) translateY(135px);
}

#settings {
  position: absolute;

  font-size: 30px;

  transform: translateX(20px) translateY(165px);
}

#settings input[type="checkbox"] {
  width: 30px;
  height: 30px;

  margin-left: 0px;
}

#settings label {
  vertical-align: top;
}

#newGameButton {
  position: absolute;

  width: 215px;
  height: 50px;

  font-size: 18px;

  transform: translateX(20px) translateY(210px);
}

#websocketStatusIndicator {
  position: absolute;

  transform: translateX(10px) translateY(480px);
}

#indicatorDiv {
  display: inline-block;

  width: 20px;
  height: 20px;

  box-sizing: border-box;

  vertical-align: bottom;
  margin-right: 5px;

  border-style: solid;
  border-color: black;
  border-width: 1px;

  border-radius: 10px;
}

[status='inactive'] #indicatorDiv { background-color: lightgray; }
[status='open'] #indicatorDiv { background-color: lime; }
[status='closed'] #indicatorDiv { background-color: red; }

#highscoreTableContainer {
  position: absolute;
  width: 250px;

  display: flex;

  transform-style: preserve-3d;

  transform: translateX(375px) translateY(15px) rotateY(0deg);
  transition: transform 1s;
}

/*
#highscoreTableContainer[score-type='local'] { transform: translateX(375px) translateY(15px) rotateY(0deg); }
#highscoreTableContainer[score-type='global'] { transform: translateX(375px) translateY(15px) rotateY(90deg); }
#highscoreTableContainer[score-type='daily'] { transform: translateX(375px) translateY(15px) rotateY(-90deg); }
#highscoreTableContainer[score-type='personal'] { transform: translateX(375px) translateY(15px) rotateY(180deg); }
*/

#highscoreTableContainer table {
  position: absolute;

  border-collapse: collapse;

  backface-visibility: hidden;

  font-size: 25px;
}

#highscoreTableContainer table td {
  width: 50%;
  padding: 3px 10px;

  border: solid black 1px;
}

#highscoreTableContainer table td:nth-child(1) {
  text-align: right;
}

#localHighscoreTable {
  transform: translateZ(100px);
}

#globalHighscoreTable {
  transform: rotateY(90deg) translateZ(100px);
}

#dailyHighscoreTable {
  transform: rotateY(-90deg) translateZ(100px);
}

#parsonalHighscoreTable {
  transform: rotateY(180deg) translateZ(100px);
}

#highscoreRotationHelp {
  position: absolute;

  transform: translateX(335px) translateY(0px);
}
