<?xml version="1.0" encoding="UTF-8" ?>
<widget
  xmlns = "http://www.w3.org/ns/widgets"
  xmlns:gap = "http://phonegap.com/ns/1.0"
  id = "com.isti115.setcardgame"
  version = "0.1.4">

  <name>Set Card Game</name>

  <description>
    Set card game.
  </description>

  <author href="isti115.github.com" email="istvan.donko@gmail.com">
    Isti115
  </author>

  <preference name="permissions" value="none" />
  <preference name="orientation" value="landscape" />

  <icon src="images/icon.png" />

  <platform name="android" />
</widget>
